<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Feed principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>Estas noticias o lo que sea deben ser requeridas del firebase,
    crear una colección en la DB llamada feed y agregarle items con titulo, contenido
    y si pueden una imagen.

    iterar sobre el arreglo loadData para crear una tarjeta para cada item de la coleccion feed.
  </p>

  
  <ion-card class="ion-padding-bottom ion-margin-bottom">
    <ion-card-header>
      Tarjeta 1
    </ion-card-header>
    <ion-card-content>
      <p> contenido 1</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-padding-bottom ion-margin-bottom">
    <ion-card-header>
      Tarjeta 2
    </ion-card-header>
    <ion-card-content>
      <p> contenido 2</p>
    </ion-card-content>
  </ion-card>

</ion-content>