<app-loading></app-loading>
<router-outlet></router-outlet>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Identificar flor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Identificar flor</ion-title>
    </ion-toolbar>
  </ion-header>

  @if(imageReady()) {
  <ion-card>
    <img #image [src]="imageUrl()" alt="Imagen seleccionada" />
    @if(modelLoaded()) {
    <div class="ion-text-center ion-padding-top ion-padding-bottom">
      <ion-button fill="outline" color="success" (click)="requestPrediction()">Identificar</ion-button>
    </div>
    @if(predictions.length > 0) {
    <ion-text>
      <h2>{{ predictions[0].className }}</h2>
    </ion-text>
    <ion-text>
      <h4>{{ predictions[0].probability | percent }} de encaje</h4>
    </ion-text>
    <div class="ion-text-center ion-padding-top ion-padding-bottom">
      <ion-button routerLink="/comments" [state]="{ flower: predictions[0].className}">
        VER COMENTARIOS
      </ion-button>
    </div>
    }
    }
  </ion-card>
  }

  <p>poner alguna bienvenida, instrucciones o algo</p>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="openCamera()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>