<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Teachable Machine
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Teachable Machine</ion-title>
    </ion-toolbar>
  </ion-header>

  @if(imageReady()) {
  <ion-card>
    <img #image [src]="imageUrl()" alt="Imagen seleccionada" />
    @if(modelLoaded()) {
    <div class="ion-text-center ion-padding-top ion-padding-bottom">
      <ion-button fill="outline" color="success" (click)="predict()">Predecir</ion-button>
    </div>
    <ion-list>
      <ion-item>
        <ion-label>Clases: {{ classLabels }} </ion-label>
      </ion-item>
      @for (item of predictions; track $index) {
      <ion-item>
        <ion-label> {{ item?.className }} : {{ item?.probability | percent }} </ion-label>
      </ion-item>
      }
    </ion-list>
    }
  </ion-card>
  }

  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="openCamera()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>